In [1]:
import sqlite3 as sql

In [2]:
with sql.connect("SalesDB.db") as db:
    cursor = db.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Sales(
            Date DATE,
            Product text,
            Quantity int,
            Price MONEY(10,5),
            Total MONEY(10,5)
        );
    """)
    db.commit()

In [3]:
with sql.connect("SalesDB.db") as db:
    cursor = db.cursor()
    cursor.execute("""
        select * from Sales;
    """)
    print(cursor.fetchall())
db.close()

[('2023-01-01', 'Chocolate', 5, 10.0, 50.0), ('2023-01-02', 'Biscuits', 7, 20.0, 140.0), ('2023-01-03', 'Sweets', 9, 15.0, 135.0), ('2023-01-04', 'Water', 3, 7.5, 22.5), ('2023-01-05', 'Orange Juice', 8, 12.5, 100.0), ('2023-01-06', 'Chocolate', 5, 10.0, 50.0), ('2023-01-07', 'Biscuits', 7, 20.0, 140.0), ('2023-01-08', 'Sweets', 9, 15.0, 135.0), ('2023-01-09', 'Water', 3, 7.5, 22.5), ('2023-01-10', 'Orange Juice', 8, 12.5, 100.0), ('2023-01-11', 'Chocolate', 5, 10.0, 50.0), ('2023-01-12', 'Biscuits', 7, 20.0, 140.0), ('2023-01-13', 'Sweets', 9, 15.0, 135.0), ('2023-01-14', 'Water', 3, 7.5, 22.5), ('2023-01-15', 'Orange Juice', 8, 12.5, 100.0), ('2023-01-16', 'Chocolate', 5, 10.0, 50.0), ('2023-01-17', 'Biscuits', 7, 20.0, 140.0), ('2023-01-18', 'Sweets', 9, 15.0, 135.0), ('2023-01-19', 'Water', 3, 7.5, 22.5), ('2023-01-20', 'Orange Juice', 8, 12.5, 100.0), ('2023-01-21', 'Chocolate', 5, 10.0, 50.0), ('2023-01-22', 'Biscuits', 7, 20.0, 140.0), ('2023-01-23', 'Sweets', 9, 15.0, 135.0), ('2023-01-24', 'Water', 3, 7.5, 22.5), ('2023-01-25', 'Orange Juice', 8, 12.5, 100.0), ('2023-01-26', 'Chocolate', 5, 10.0, 50.0), ('2023-01-27', 'Biscuits', 7, 20.0, 140.0), ('2023-01-28', 'Sweets', 9, 15.0, 135.0), ('2023-01-29', 'Water', 3, 7.5, 22.5), ('2023-01-30', 'Orange Juice', 8, 12.5, 100.0), ('2023-01-31', 'Chocolate', 5, 10.0, 50.0), ('2023-02-01', 'Biscuits', 7, 20.0, 140.0), ('2023-02-02', 'Sweets', 9, 15.0, 135.0), ('2023-02-03', 'Water', 3, 7.5, 22.5), ('2023-02-04', 'Orange Juice', 8, 12.5, 100.0), ('2023-02-05', 'Chocolate', 5, 10.0, 50.0), ('2023-02-06', 'Biscuits', 7, 20.0, 140.0), ('2023-02-07', 'Sweets', 9, 15.0, 135.0), ('2023-02-08', 'Water', 3, 7.5, 22.5), ('2023-02-09', 'Orange Juice', 8, 12.5, 100.0), ('2023-02-10', 'Chocolate', 5, 10.0, 50.0), ('2023-02-11', 'Biscuits', 7, 20.0, 140.0), ('2023-02-12', 'Sweets', 9, 15.0, 135.0), ('2023-02-13', 'Water', 3, 7.5, 22.5), ('2023-02-14', 'Orange Juice', 8, 12.5, 100.0), ('2023-02-15', 'Chocolate', 5, 10.0, 50.0), ('2023-02-16', 'Biscuits', 7, 20.0, 140.0), ('2023-02-17', 'Sweets', 9, 15.0, 135.0), ('2023-02-18', 'Water', 3, 7.5, 22.5), ('2023-02-19', 'Orange Juice', 8, 12.5, 100.0), ('2023-02-20', 'Chocolate', 5, 10.0, 50.0), ('2023-02-21', 'Biscuits', 7, 20.0, 140.0), ('2023-02-22', 'Sweets', 9, 15.0, 135.0), ('2023-02-23', 'Water', 3, 7.5, 22.5), ('2023-02-24', 'Unknown', 8, 12.5, 100.0), ('2023-02-25', 'Chocolate', 5, 10.0, 50.0), ('2023-02-26', 'Biscuits', 7, 20.0, 140.0), ('2023-02-27', 'Sweets', 9, 15.0, 135.0), ('2023-02-28', 'Water', 3, 7.5, 22.5), ('2023-03-01', 'Orange Juice', 8, 12.5, 100.0), ('2023-03-02', 'Chocolate', 5, 10.0, 50.0), ('2023-03-03', 'Biscuits', 7, 20.0, 140.0), ('2023-03-04', 'Sweets', 9, 15.0, 135.0), ('2023-03-05', 'Water', 3, 7.5, 22.5), ('2023-03-06', 'Orange Juice', 8, 12.5, 100.0), ('2023-03-07', 'Chocolate', 5, 10.0, 50.0), ('2023-03-08', 'Biscuits', 7, 20.0, 140.0), ('2023-03-09', 'Sweets', 9, 15.0, 135.0), ('2023-03-10', 'Water', 3, 7.5, 22.5), ('2023-03-11', 'Orange Juice', 8, 12.5, 100.0), ('2023-03-12', 'Chocolate', 5, 0.0, 0.0), ('2023-03-13', 'Biscuits', 7, 20.0, 140.0), ('2023-03-14', 'Sweets', 9, 15.0, 135.0), ('2023-03-15', 'Water', 3, 7.5, 22.5), ('2023-03-16', 'Orange Juice', 8, 12.5, 100.0), ('2023-03-17', 'Chocolate', 5, 10.0, 50.0), ('2023-03-18', 'Biscuits', 7, 20.0, 140.0), ('2023-03-19', 'Sweets', 9, 15.0, 135.0), ('2023-03-20', 'Water', 3, 7.5, 22.5), ('2023-03-21', 'Orange Juice', 8, 12.5, 100.0), ('2023-03-22', 'Chocolate', 5, 10.0, 50.0), ('2023-03-23', 'Biscuits', 7, 20.0, 140.0), ('2023-03-24', 'Sweets', 9, 15.0, 135.0), ('2023-03-25', 'Water', 3, 7.5, 22.5), ('2023-03-26', 'Orange Juice', 8, 12.5, 100.0), ('2023-03-27', 'Unknown', 5, 10.0, 50.0), ('2023-03-28', 'Biscuits', 7, 20.0, 140.0), ('2023-03-29', 'Sweets', 9, 15.0, 135.0), ('2023-03-30', 'Water', 3, 7.5, 22.5), ('2023-03-31', 'Orange Juice', 8, 12.5, 100.0), ('2023-04-01', 'Chocolate', 5, 10.0, 50.0), ('2023-04-02', 'Biscuits', 7, 20.0, 140.0), ('2023-04-03', 'Sweets', 9, 15.0, 135.0), ('2023-04-04', 'Water', 3, 7.5, 22.5), ('2023-04-05', 'Orange Juice', 8, 12.5, 100.0), ('2023-04-06', 'Chocolate', 5, 10.0, 50.0), ('2023-04-07', 'Biscuits', 7, 20.0, 140.0), ('2023-04-08', 'Sweets', 9, 15.0, 135.0), ('2023-04-09', 'Water', 3, 7.5, 22.5), ('2023-04-10', 'Orange Juice', 8, 12.5, 100.0), ('2024-03-20', 'Water', 3, 7.5, 22.5), ('2024-03-21', 'Orange Juice', 8, 12.5, 100.0), ('2024-03-22', 'Chocolate', 5, 10.0, 50.0), ('2024-03-23', 'Biscuits', 7, 20.0, 140.0), ('2024-03-24', 'Sweets', 9, 15.0, 135.0), ('2024-03-25', 'Water', 3, 7.5, 22.5), ('2024-03-26', 'Orange Juice', 8, 12.5, 100.0), ('2024-03-27', 'Unknown', 5, 10.0, 50.0), ('2024-03-28', 'Biscuits', 7, 20.0, 140.0), ('2024-03-29', 'Sweets', 9, 15.0, 135.0), ('2024-03-30', 'Water', 3, 7.5, 22.5), ('2024-03-31', 'Orange Juice', 8, 12.5, 100.0), ('2024-04-01', 'Chocolate', 5, 10.0, 50.0), ('2024-04-02', 'Biscuits', 7, 20.0, 140.0), ('2024-04-03', 'Sweets', 9, 15.0, 135.0), ('2024-04-04', 'Water', 3, 7.5, 22.5), ('2024-04-05', 'Orange Juice', 8, 12.5, 100.0), ('2024-04-06', 'Unknown', 5, 10.0, 50.0), ('2024-04-07', 'Biscuits', 7, 20.0, 140.0), ('2024-04-08', 'Sweets', 9, 15.0, 135.0), ('2024-04-09', 'Water', 3, 7.5, 22.5), ('2024-04-10', 'Orange Juice', 8, 12.5, 100.0), ('2022-04-04', 'Water', 3, 7.5, 22.5), ('2022-04-05', 'Orange Juice', 8, 12.5, 100.0), ('2022-04-06', 'Chocolate', 5, 10.0, 50.0), ('2022-04-07', 'Biscuits', 7, 20.0, 140.0), ('2022-04-08', 'Sweets', 9, 15.0, 135.0), ('2022-04-09', 'Water', 3, 7.5, 22.5), ('2022-04-10', 'Orange Juice', 8, 12.5, 100.0), ('2022-03-20', 'Water', 3, 7.5, 22.5), ('2022-03-21', 'Orange Juice', 8, 12.5, 100.0), ('2022-03-22', 'Chocolate', 5, 10.0, 50.0), ('2022-03-23', 'Biscuits', 7, 20.0, 140.0), ('2022-03-24', 'Sweets', 9, 15.0, 135.0), ('2022-03-25', 'Water', 3, 7.5, 22.5), ('2022-03-26', 'Orange Juice', 8, 12.5, 100.0), ('2022-03-27', 'Unknown', 5, 10.0, 50.0), ('2022-03-28', 'Biscuits', 7, 20.0, 140.0), ('2022-03-29', 'Sweets', 9, 15.0, 135.0), ('2022-03-30', 'Water', 3, 7.5, 22.5), ('2022-03-31', 'Orange Juice', 8, 12.5, 100.0), ('2022-04-01', 'Chocolate', 5, 10.0, 50.0), ('2022-04-02', 'Biscuits', 7, 20.0, 140.0), ('2022-04-03', 'Sweets', 9, 15.0, 135.0), ('2022-04-06', 'Unknown', 5, 10.0, 50.0)]

In [4]:
import pandas as pd

df = pd.read_csv("cleaned_sales_data.csv", parse_dates=['Date'], dayfirst=True)
df = df.iloc[:,1:]
df

          Product  Quantity  Price  Total    Month
0       Chocolate         5   10.0   50.0  2023-01
1        Biscuits         7   20.0  140.0  2023-01
2          Sweets         9   15.0  135.0  2023-01
3           Water         3    7.5   22.5  2023-01
4    Orange Juice         8   12.5  100.0  2023-01
..            ...       ...    ...    ...      ...
146       Unknown         5   10.0   50.0  2022-04
147      Biscuits         7   20.0  140.0  2022-04
148        Sweets         9   15.0  135.0  2022-04
149         Water         3    7.5   22.5  2022-04
150  Orange Juice         8   12.5  100.0  2022-04

[151 rows x 5 columns]

In [5]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
df.to_sql("Sales", con=engine)

In [ ]:
from sqlalchemy import text
with engine.connect() as conn:
   print(conn.execute(text("SELECT * FROM Sales")).fetchall())

In [ ]:
from sqlalchemy import text
with engine.connect() as conn:
    data = conn.execute(text("SELECT substr(s.Date, 1, 4), s.Product, SUM(s.Quantity) FROM Sales s where substr(s.Date, 1, 4) like '2023' group by substr(s.Date, 1, 4), s.Product order by SUM(s.Quantity) desc")).fetchall()
    for row in data:
        print(row)