In [1]:
import numpy as np

#### Task 1: Write a Numpy program to test whether none of the elements of a given array is zero.

In [2]:
array=np.arange(0,10)
print(np.all(array))
print(np.any(array))

False
True

#### Task 2: There are two arrays. The first array, array1 contains the values 45, 67, 23 and array2 contains the values 56, 23, and 89. 
#### Write a Numpy program to **create an element-wise comparison (greater, greater_equal, less and less_equal) of those two arrays**.

In [3]:
array1=np.array([45,67,23])
array2=np.array([56,23,89])
print(np.greater(array1,array2))      # >
print(np.greater_equal(array1,array2))# >=
print(np.less(array1,array2))         # <
print(np.less_equal(array1,array2))   # <= function returns a Boolean array indicating the comparison result element-wise

[False  True False]
[False  True False]
[ True False  True]
[ True False  True]

#### Task3 Write a Numpy program to create an array of 8 zeros, 5 ones, 10 fives.

In [4]:
array1=np.zeros(8)
print(array1)
array2=np.ones(5)
print(array2)
array3=np.ones(10)*5
print(array3)
# array=np.row_stack((array1,array2,array3))
# array=np.vstack((array1,array2,array3))
#array=np.concat(array1,array2,array3) #TypeError: only integer scalar arrays can be converted to a scalar index
#array=np.concatenate([array1,array2,array3])
array=np.concatenate([array1,array2,array3],axis=0)
print(array)

[0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1.]
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]
[0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

The arrays must be passed inside a tuple or a list.

❌ You cannot write `np.concatenate(array1, array2, array3)`

✅ You must write `np.concatenate([array1, array2, array3])` or `np.concatenate((array1, array2, array3))`

A 1D array has only one axis (axis=0), so concatenation is always along that axis.

“Horizontal” and “vertical” directions only exist in 2D or higher dimensions.

#### Task4: Write a Numpy program to **add a vector v with values 2, 0, 2 to each row of a matrix m** with values:

In [5]:
matrix=np.array([[23,45,11],[12,23,54],[29,19,34],[1,23,10]])
vector=np.array([2,0,2])
# np.array([1,2,3], [4,5,6]) #TypeError: array() takes from 1 to 2 positional arguments but 4 were given
print(matrix+vector) #it treats v as a row and copies it for every row of m, then performs element-wise addition row by row

[[25 45 13]
 [14 23 56]
 [31 19 36]
 [ 3 23 12]]

##### NumPy Broadcasting

Given a 2D array m with shape (n_rows, n_cols)

And a 1D array v with length n_cols

NumPy automatically “broadcasts” v to shape (n_rows, n_cols) and then performs element-wise addition with m.

#### Task 5: Write a NumPy program to create a 5x5 2d array with 1 on the border and 25 inside.

In [6]:
matrix=np.ones((5,5))
print(matrix)
matrix[1:4,1:4]=25
print(matrix)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[ 1.  1.  1.  1.  1.]
 [ 1. 25. 25. 25.  1.]
 [ 1. 25. 25. 25.  1.]
 [ 1. 25. 25. 25.  1.]
 [ 1.  1.  1.  1.  1.]]

First, slice to get a **submatrix** `matrix[1:4,1:4]` from the original matrix.

Then, **perform an element-wise assignment on this submatrix**, `matrix[1:4,1:4]=25` assigning the same value 25 to every element.

So essentially, **you are doing element-wise operations on the sliced array**.

#### Task6:Write a NumPy program to find common values between two arrays

In [7]:
array1=np.array([23,45,11,5])
array2=np.array([23,5,1])
array_common=np.intersect1d(array1,array2)
print(array_common)

[ 5 23]

#### Task 7: Perform the following manipulation of the two arrays below: horizontal stacking, vertical stacking; divide the individual array horizontally and vertically.

In [8]:
array1=np.array([[23,45,11],[12,23,54],[1,23,10]])
array2=np.array([[3,5,1],[2,3,4],[9,1,5]])
print(array1)
print(array2)

[[23 45 11]
 [12 23 54]
 [ 1 23 10]]
[[3 5 1]
 [2 3 4]
 [9 1 5]]

In [9]:
v_stack=np.vstack((array1,array2))
print(v_stack)
h_stack=np.hstack((array1,array2))
print(h_stack)

[[23 45 11]
 [12 23 54]
 [ 1 23 10]
 [ 3  5  1]
 [ 2  3  4]
 [ 9  1  5]]
[[23 45 11  3  5  1]
 [12 23 54  2  3  4]
 [ 1 23 10  9  1  5]]

In [10]:
array1_hsplit=np.hsplit(array1,3)
print(array1_hsplit)
array1_vsplit=np.vsplit(array1,3)
print(array1_vsplit)

[array([[23],
       [12],
       [ 1]]), array([[45],
       [23],
       [23]]), array([[11],
       [54],
       [10]])]
[array([[23, 45, 11]]), array([[12, 23, 54]]), array([[ 1, 23, 10]])]

np.hsplit() and np.vsplit() always return 2D arrays (if the input is 2D)

For 1D arrays, use np.split() instead.

## DataFrame
Sample DataFrame:
assessment_results = {

'name': ['Anastasia', 'Paul', 'Kathe', 'Joseph', 'Linda', 'Michael', 'Matt',
'Laurentine', 'Chirstian', 'Jonas'],

'score': [12.5, 10, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']

}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
import pandas as pd

In [29]:
assessment_results = {'name': ['Anastasia', 'Paul', 'Kathe', 'Joseph', 'Linda', 'Michael', 'Matt', 'Laurentine', 'Chirstian', 'Jonas'],'score': [12.5, 10, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
frame=pd.DataFrame(assessment_results)
print(frame)

         name  score  attempts qualify
0   Anastasia   12.5         1     yes
1        Paul   10.0         3      no
2       Kathe   16.5         2     yes
3      Joseph    NaN         3      no
4       Linda    9.0         2      no
5     Michael   20.0         3     yes
6        Matt   14.5         1     yes
7  Laurentine    NaN         1      no
8   Chirstian    8.0         2      no
9       Jonas   19.0         1     yes

#### Task 8: Write a Pandas program to **get the first 3 rows of a given DataFrame**.

In [13]:
# frame1=frame[0:3,:]
frame1=frame.iloc[0:3,:]
print(frame1)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Paul   10.0         3      no
2      Kathe   16.5         2     yes

#### Task 9: Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [17]:
# frame['attempts'>2]
print(frame['attempts'])
mask=frame['attempts']>2
print(frame[mask])

0    1
1    3
2    2
3    3
4    2
5    3
6    1
7    1
8    2
9    1
Name: attempts, dtype: int64
      name  score  attempts qualify
1     Paul   10.0         3      no
3   Joseph    NaN         3      no
5  Michael   20.0         3     yes

`frame['attempts']` → returns one column from the DataFrame as a Series (1D array-like).

`frame['attempts'] > 2` → does an element-wise comparison, giving a Boolean Series (True/False).  

`frame[frame['attempts'] > 2]` → uses that Boolean Series to filter rows, keeping only those where the condition is True.

so basically, mask=frame['attempts'] > 2, frame[mask] keeps only the rows where mask is True.

#### Task 10: Write a Pandas program to count the number of rows and columns of a DataFrame.

In [15]:
print(frame.shape)

(10, 4)

#### Task 11: Write a Pandas program to select the rows the score is between 14 and 20 (inclusive).

In [27]:
# print(frame[14<=frame['score']<=20])
print(frame[(frame['score']>=14)&(frame['score']<=20)])
print(frame[frame['score'].between(14,20)])

      name  score  attempts qualify
2    Kathe   16.5         2     yes
5  Michael   20.0         3     yes
6     Matt   14.5         1     yes
9    Jonas   19.0         1     yes
      name  score  attempts qualify
2    Kathe   16.5         2     yes
5  Michael   20.0         3     yes
6     Matt   14.5         1     yes
9    Jonas   19.0         1     yes

#### Task 12: Write a Pandas program to change the score in row 'c' to 11.5

In [30]:
frame=pd.DataFrame(assessment_results,index=labels)
print(frame)

         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b        Paul   10.0         3      no
c       Kathe   16.5         2     yes
d      Joseph    NaN         3      no
e       Linda    9.0         2      no
f     Michael   20.0         3     yes
g        Matt   14.5         1     yes
h  Laurentine    NaN         1      no
i   Chirstian    8.0         2      no
j       Jonas   19.0         1     yes

In [33]:
frame.loc['c','socre']=11.5
# print(frame['c',:])
print(frame.loc['c',:])
print(frame.loc['c'])

name        Kathe
score        16.5
attempts        2
qualify       yes
socre        11.5
Name: c, dtype: object
name        Kathe
score        16.5
attempts        2
qualify       yes
socre        11.5
Name: c, dtype: object

#### Task 13: Write a Pandas program to calculate the mean score for each different student in DataFrame

In [38]:
group=frame.groupby('name')['score'].mean()        #Group by name first, then focus on the ‘score’ column
print(group)
# group=frame['score'].groupby('name').mean()
group=frame['score'].groupby(frame['name']).mean() #Take the ‘score’ Column, then group it by name
print(group)                                       #Both give the same result

name
Anastasia     12.5
Chirstian      8.0
Jonas         19.0
Joseph         NaN
Kathe         16.5
Laurentine     NaN
Linda          9.0
Matt          14.5
Michael       20.0
Paul          10.0
Name: score, dtype: float64
name
Anastasia     12.5
Chirstian      8.0
Jonas         19.0
Joseph         NaN
Kathe         16.5
Laurentine     NaN
Linda          9.0
Matt          14.5
Michael       20.0
Paul          10.0
Name: score, dtype: float64

`frame.groupby('name')` → group the DataFrame by the column “name.

This splits the DataFrame into smaller groups (**one group for each unique name**).

`['score']` → from each group, select only the “score” column.

This tells Pandas which column you want to apply an operation to.


frame['score'] → **gives you one column (a Series)**

.groupby() must be told what to group by — but **a Series doesn’t automatically know about other columns in the DataFrame**

So if you write .groupby('name'), it doesn’t know where 'name' comes from — it’s just a string, not actual data.